# Python String
### String is a collection of alphabets, words or other characters.

In [1]:
# defining a string
s = "Hello_world"

In [2]:
# Checking the type of a string

type(s)

str

In [3]:
# Getting the character from string using indexing. Generally the indexing strats from zero(0)
s[0]

'H'

In [4]:
s[3]

'l'

In [5]:
# Slicing operations on string. Slicing is used to get set of charaters from string.
s[0:5] # It extract the chracters from index 0 to 5 (except 5th index)

'Hello'

In [6]:
s[0:5:2] # It extract the chracters from index 0 to 5 (except 5th index) with incremental value 2

'Hlo'

In [7]:
s[0:] # It extract the chracters from index 0 to last

'Hello_world'

In [8]:
s[0::2] # It extract the chracters from index 0 to 5 (except 5th index) with incremental value 2

'Hlowrd'

In [2]:
# Getting the last indexed charecter
s[-1]

'd'

In [3]:
#Extracting the total string using slicling operation
s[::]

'Hello_world'

In [4]:
#Extracting the total string in reverse direction using slicling operation
s[::-1]

'dlrow_olleH'

In [5]:
# Adding the charaters to the string (here we are changing the data type of "1" to string by using type casting)
s+str(1)

'Hello_world1'

In [6]:
s

'Hello_world'

In [7]:
s*2

'Hello_worldHello_world'

In [8]:
len(s)

11

In [9]:
s.count('l')

3

In [11]:
# split function will Return a list of the words in the string, using sep as the delimiter string. 
s.split('_')

['Hello', 'world']

In [13]:
s.upper() # Changing the alphabets to upper case

'HELLO_WORLD'

In [14]:
s.lower() # Changing the alphabets to lower case

'hello_world'

In [15]:
s.title() # Set the first letter of each word to upper case

'Hello_World'

In [16]:
s.capitalize() # Set the first letter of string to upper case

'Hello_world'

In [17]:
s1 = "HeLLo_wOrlD"

In [18]:
s1.swapcase() # Set all upper cases to lower case and all lower case to upper case.

'hEllO_WoRLd'

In [19]:
# Reversing of string can be done by join function
"".join(reversed(s))

'dlrow_olleH'

In [27]:
"a".join(s) # joining "a" to string after each charatecter

'Haealalaoa_awaoaralad'

In [21]:
s2 = "   Hello world   "

In [22]:
s2.strip() # strip function remove the first and last spaces

'Hello world'

In [25]:
s2.lstrip() # lstrip function remove the left side spaces

'Hello world   '

In [26]:
s2.rstrip()  # rstrip function remove the right side spaces

'   Hello world'

In [28]:
s

'Hello_world'

In [29]:
s.center(20,"@")

'@@@@Hello_world@@@@@'

In [30]:
s.isupper()

False

In [31]:
s.islower()

False

In [32]:
s3="HELLO"

In [34]:
s3.isupper()

True

In [37]:
s4 = "Hello World"

In [39]:
s4.isspace() # This will true only when the string is fully empty

False

In [41]:
s5 ="1234"

In [42]:
s5.isdigit()

True

In [43]:
s6 = "Hello123"

In [44]:
s6.isalnum()

True

In [45]:
s6.startswith("h")

False

In [46]:
s6.startswith("H") # Case sensitive

True

In [47]:
s6.endswith("3")

True

In [48]:
s6

'Hello123'

In [49]:
s6.replace("123","456")

'Hello456'

In [ ]:
#Practice quesions on python string :

s = "this is My First Python programming class and i am learNING python string and its function"
1 . Try to extract data from index one to index 300 with a jump of 3 
2. Try to reverse a string without using reverse function 
3. Try to split a string after conversion of entire string in uppercase 
4. try to convert the whole string into lower case 
5 . Try to capitalize the whole string 
6.  Replace class with tutorial

In [1]:
s = "this is My First Python programming class and i am learNING python string and its function"

In [2]:
# 1 . Try to extract data from index one to index 300 with a jump of 3 
s[1:301:3]

'h   r tnrrmglsnimeNGyosi dtfco'

In [3]:
# 2. Try to reverse a string without using reverse function
s[::-1]

'noitcnuf sti dna gnirts nohtyp GNINrael ma i dna ssalc gnimmargorp nohtyP tsriF yM si siht'

In [4]:
# 3. Try to split a string after conversion of entire string in uppercase
s.upper().split(" ")

['THIS',
 'IS',
 'MY',
 'FIRST',
 'PYTHON',
 'PROGRAMMING',
 'CLASS',
 'AND',
 'I',
 'AM',
 'LEARNING',
 'PYTHON',
 'STRING',
 'AND',
 'ITS',
 'FUNCTION']

In [ ]:
# 4. try to convert the whole string into lower case

In [5]:
s.lower()

'this is my first python programming class and i am learning python string and its function'

In [6]:
# 5 . Try to capitalize the whole string 
s.capitalize()

'This is my first python programming class and i am learning python string and its function'

In [7]:
# 6.  Replace "class" with "tutorial"
s.replace("class","tutorial")

'this is My First Python programming tutorial and i am learNING python string and its function'